<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.dao.AtndApplyMapper">
  <resultMap id="BaseResultMap" type="com.demo.entity.AtndApply">
    <constructor>
      <idArg column="atnd_apply_no" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="company_code" javaType="java.lang.String" jdbcType="CHAR" />
      <arg column="user_id" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="apply_ym" javaType="java.lang.String" jdbcType="CHAR" />
      <arg column="apply_kbn" javaType="java.lang.String" jdbcType="CHAR" />
      <arg column="apply_level" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="apply_from_to" javaType="java.lang.String" jdbcType="CHAR" />
      <arg column="apply_status" javaType="java.lang.String" jdbcType="CHAR" />
      <arg column="approve_status" javaType="java.lang.String" jdbcType="CHAR" />
      <arg column="remark" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="del_flg" javaType="java.lang.String" jdbcType="CHAR" />
      <arg column="reg_account" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="reg_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="upd_account" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="upd_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    atnd_apply_no, company_code, user_id, apply_ym, apply_kbn, apply_level, apply_from_to, 
    apply_status, approve_status, remark, del_flg, reg_account, reg_time, upd_account, 
    upd_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_attendance_apply
    where atnd_apply_no = #{atndApplyNo,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_attendance_apply
    where atnd_apply_no = #{atndApplyNo,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.demo.entity.AtndApply">
    insert into t_attendance_apply (atnd_apply_no, company_code, user_id, 
      apply_ym, apply_kbn, apply_level, 
      apply_from_to, apply_status, approve_status, 
      remark, del_flg, reg_account, 
      reg_time, upd_account, upd_time
      )
    values (#{atndApplyNo,jdbcType=VARCHAR}, #{companyCode,jdbcType=CHAR}, #{userId,jdbcType=VARCHAR}, 
      #{applyYm,jdbcType=CHAR}, #{applyKbn,jdbcType=CHAR}, #{applyLevel,jdbcType=VARCHAR}, 
      #{applyFromTo,jdbcType=CHAR}, #{applyStatus,jdbcType=CHAR}, #{approveStatus,jdbcType=CHAR}, 
      #{remark,jdbcType=VARCHAR}, #{delFlg,jdbcType=CHAR}, #{regAccount,jdbcType=VARCHAR}, 
      #{regTime,jdbcType=TIMESTAMP}, #{updAccount,jdbcType=VARCHAR}, #{updTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.demo.entity.AtndApply">
    insert into t_attendance_apply
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="atndApplyNo != null">
        atnd_apply_no,
      </if>
      <if test="companyCode != null">
        company_code,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="applyYm != null">
        apply_ym,
      </if>
      <if test="applyKbn != null">
        apply_kbn,
      </if>
      <if test="applyLevel != null">
        apply_level,
      </if>
      <if test="applyFromTo != null">
        apply_from_to,
      </if>
      <if test="applyStatus != null">
        apply_status,
      </if>
      <if test="approveStatus != null">
        approve_status,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="delFlg != null">
        del_flg,
      </if>
      <if test="regAccount != null">
        reg_account,
      </if>
      <if test="regTime != null">
        reg_time,
      </if>
      <if test="updAccount != null">
        upd_account,
      </if>
      <if test="updTime != null">
        upd_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="atndApplyNo != null">
        #{atndApplyNo,jdbcType=VARCHAR},
      </if>
      <if test="companyCode != null">
        #{companyCode,jdbcType=CHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="applyYm != null">
        #{applyYm,jdbcType=CHAR},
      </if>
      <if test="applyKbn != null">
        #{applyKbn,jdbcType=CHAR},
      </if>
      <if test="applyLevel != null">
        #{applyLevel,jdbcType=VARCHAR},
      </if>
      <if test="applyFromTo != null">
        #{applyFromTo,jdbcType=CHAR},
      </if>
      <if test="applyStatus != null">
        #{applyStatus,jdbcType=CHAR},
      </if>
      <if test="approveStatus != null">
        #{approveStatus,jdbcType=CHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="delFlg != null">
        #{delFlg,jdbcType=CHAR},
      </if>
      <if test="regAccount != null">
        #{regAccount,jdbcType=VARCHAR},
      </if>
      <if test="regTime != null">
        #{regTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updAccount != null">
        #{updAccount,jdbcType=VARCHAR},
      </if>
      <if test="updTime != null">
        #{updTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.demo.entity.AtndApply">
    update t_attendance_apply
    <set>
      <if test="companyCode != null">
        company_code = #{companyCode,jdbcType=CHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="applyYm != null">
        apply_ym = #{applyYm,jdbcType=CHAR},
      </if>
      <if test="applyKbn != null">
        apply_kbn = #{applyKbn,jdbcType=CHAR},
      </if>
      <if test="applyLevel != null">
        apply_level = #{applyLevel,jdbcType=VARCHAR},
      </if>
      <if test="applyFromTo != null">
        apply_from_to = #{applyFromTo,jdbcType=CHAR},
      </if>
      <if test="applyStatus != null">
        apply_status = #{applyStatus,jdbcType=CHAR},
      </if>
      <if test="approveStatus != null">
        approve_status = #{approveStatus,jdbcType=CHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="delFlg != null">
        del_flg = #{delFlg,jdbcType=CHAR},
      </if>
      <if test="regAccount != null">
        reg_account = #{regAccount,jdbcType=VARCHAR},
      </if>
      <if test="regTime != null">
        reg_time = #{regTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updAccount != null">
        upd_account = #{updAccount,jdbcType=VARCHAR},
      </if>
      <if test="updTime != null">
        upd_time = #{updTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where atnd_apply_no = #{atndApplyNo,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.demo.entity.AtndApply">
    update t_attendance_apply
    set company_code = #{companyCode,jdbcType=CHAR},
      user_id = #{userId,jdbcType=VARCHAR},
      apply_ym = #{applyYm,jdbcType=CHAR},
      apply_kbn = #{applyKbn,jdbcType=CHAR},
      apply_level = #{applyLevel,jdbcType=VARCHAR},
      apply_from_to = #{applyFromTo,jdbcType=CHAR},
      apply_status = #{applyStatus,jdbcType=CHAR},
      approve_status = #{approveStatus,jdbcType=CHAR},
      remark = #{remark,jdbcType=VARCHAR},
      del_flg = #{delFlg,jdbcType=CHAR},
      reg_account = #{regAccount,jdbcType=VARCHAR},
      reg_time = #{regTime,jdbcType=TIMESTAMP},
      upd_account = #{updAccount,jdbcType=VARCHAR},
      upd_time = #{updTime,jdbcType=TIMESTAMP}
    where atnd_apply_no = #{atndApplyNo,jdbcType=VARCHAR}
  </update>
</mapper>